* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Optional overlay to make text readable */
.overlay {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 50px;
}


#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
  background: vi;

  color: #333;
  min-height: 100vh;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: rgba(0, 0, 0, 0.6); /* dark transparent background */
  padding: 30px 40px;
  border-radius: 10px;
  color: white; /* text color */
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.container h1, .container p {
  color: #181717;
  text-shadow: 0 0 5px rgba(0,0,0,0.7);
}



h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #e6d4d4;
}

input, select {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #efeded;
  border-radius: 6px;
  font-size: 16px;
  transition: border 0.2s;
}

input:focus, select:focus {
  outline: none;
  border-color: #4CAF50;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: rgb(236, 234, 234);
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 5px;
}

button:hover {
  background-color: #45a049;
}

button.secondary {
  background-color: #a22104;
}

button.secondary:hover {
  background-color: #0bda42;
}

.menu-item, .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181717;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fbf6f6;
}



@media (max-width: 600px) {
  .container {
    margin: 20px;
    padding: 20px;
  }

  input, select, button {
    font-size: 14px;
    padding: 10px;
  }
}
